extends ../../layouts/default.pug 
block main 
    h1(class="mb-4") Thêm mới danh mục sản phẩm 

    form(
        method="post"
        action=`${prefixAdmin}/products-category/create`
        enctype="multipart/form-data"
    )

        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                require
            )
        div(class="form-group")
            label(for="parent_id") Danh mục cha
            input(
                type="text"
                class="form-control"
                id="parent_id"
                name="parent_id"
            )

        div(class="form-group")
            label(for="desc") Mô tả
            textarea(
                type="text"
                class="form-control textarea-mce"
                id="desc"
                name="description"
                rows="5"
                textarea-mce
            )
        div(class="form-group" upload-image )
            label(for="thumbnail") Ảnh
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                upload-image-input
            )
            img(src="" upload-image-img class="image-preview"  alt="your image")
            span(class="btn btn-danger btn-circle btn-hide" button-hidden-preview) x

        div(class="form-group")
            label(for="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                min="1"
                placeholder="Tự động tăng"
            )

        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked
            )
            label(for="statusActive" class="form-check-label") Hoạt động 

        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statuInactive"
                name="status"
                value="inactive"
                
            )
            label(for="statuInactive" class="form-check-label") Dừng hoạt động
        
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Tạo mới